 @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Varela+Round&display=swap');

  * {
    font-family: 'Inconsolata', sans-serif;
  }

  body {
    background-color: #222430;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    color: #fff;
  }

  .advice {
    background-color: #353b4a;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 500px;
  }

  .advice-id {
    color: #24b75a;
  }

  .advice-message {
    font-size: 1.4rem;
    font-weight: bold;
    height: 120px;
    width: 400px;
  }

  button {
    background-image: url('./images/icon-dice.svg');
    background-repeat: no-repeat;
    background-size:50%;
    background-position: center;
    background-color: #24b75a;
    border: none;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    transform: translateY(-50%);
  }

  button:hover{
    box-shadow:0px 5px 30px 10px rgba(92, 253, 189, 0.87);
  }


@media screen and (max-width: 510px) {
  .advice {
    width: 300px;
  }

  .advice-message {
    font-size: 1em;
    width: 200px;
  }

  .divider {
    width: 290px;
  }
}
