 @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Varela+Round&display=swap');

  * {
    margin: 0;
    padding: 0;
  }

  *,*::before, *::after {
    box-sizing: inherit;
  }

  html {
    box-sizing: border-box;
    font-size: 62.5%;
  }

  body {
    font-family: 'Inconsolata', sans-serif;
    background-color: #222430;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    color: #fff;
    overflow-x: hidden;
  }

  .advice {
    background-color: #353b4a;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30rem;
    max-width: 50rem;
    margin-top: auto;
  }

  .advice__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
  }

  .advice-id {
    color: #24b75a;
    display: flex;
    margin-top: auto;
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  .advice-message {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    padding: 0 2rem;
    font-size: 2.5rem;
    font-weight: bold;
  }

  .divider {
    max-width: 35rem;
  }

  button {
    background-image: url('./images/icon-dice.svg');
    background-repeat: no-repeat;
    background-size:50%;
    background-position: center;
    background-color: #24b75a;
    border: none;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: all .3s;
  }

  button:hover{
    box-shadow: 0 .5rem 3rem 1rem rgba(92, 253, 189, 0.87);
  }

  .img {
    display: flex;
    margin-top: auto;
    margin-bottom: 3rem;
    align-items: center;
    justify-content: center;
    /* width: 50rem; */
  }

  .footer {
    display: flex;
    margin-top: auto;
    margin-bottom: 2rem;
  }

  .footer__text a {
    text-decoration: none;
    outline: none;
    color: #24b75a;
  }


@media screen and (max-width: 37.5em) {
  .advice {
    /* max-width: 30rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 2.5rem;
    margin-left: 2.5rem;
  }

  .advice-message {
    font-size: 2rem;
    /* width: 20rem; */
  }

}
